<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

	<arg name="basepath" value="."/>
	<arg name="cache" value="var/cache/phpcs-cache"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="tab-width" value="4"/>
	<arg name="parallel" value="6"/>
	<arg name="report-checkstyle" value="var/log/checkstyle-result.xml"/>
	<arg name="report-full"/>

	<file>src/</file>
	<file>test/</file>

	<rule ref="PSR12"/>
	<rule ref="Generic.Files.LineLength">
		<properties>
			<property name="lineLimit" value="80"/>
			<property name="absoluteLineLimit" value="80"/>
		</properties>
	</rule>
</ruleset>

