<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
		colors="true"
		bootstrap="vendor/autoload.php"
		executionOrder="random"
		cacheResultFile="var/cache/.phpunit.result.cache"
		cacheDirectory="var/cache/.phpunit.cache">

	<coverage>
		<report>
			<clover outputFile="var/log/clover/clover.xml"/>
			<html outputDirectory="var/log/clover"/>
		</report>
	</coverage>

	<testsuite name="atoolo-graphql-search-bundle">
		<directory>test/</directory>
	</testsuite>

	<php>
		<server name="APP_ENV" value="test"/>
		<server name="TEST_BASEDIR" value="./"/>
		<ini name="memory_limit" value="512M"/>
	</php>

	<logging>
		<junit outputFile="var/log/surefire-reports/surefire-report.xml"/>
	</logging>

	<source>
		<include>
			<directory>src/</directory>
		</include>
	</source>
</phpunit>
