parameters:
    atoolo.search.solr.connection.scheme.default: 'http'
    atoolo.search.solr.connection.host.default: 'localhost'
    atoolo.search.solr.connection.port.default: 8382
    atoolo.search.solr.connection.path.default: ''
    atoolo.search.solr.connection.proxy.default: ''
    atoolo.search.solr.connection.timeout.default: 0
    atoolo.search.solr.connection.scheme: '%env(default:atoolo.search.solr.connection.scheme.default:SOLR_SCHEME)%'
    atoolo.search.solr.connection.host: '%env(default:atoolo.search.solr.connection.host.default:SOLR_HOST)%'
    atoolo.search.solr.connection.port: '%env(default:atoolo.search.solr.connection.port.default:SOLR_PORT)%'
    atoolo.search.solr.connection.path: '%env(default:atoolo.search.solr.connection.path.default:SOLR_PATH)%'
    atoolo.search.solr.connection.proxy: '%env(default:atoolo.search.solr.connection.proxy.default:SOLR_PROXY)%'
    atoolo.search.solr.connection.timeout: '%env(default:atoolo.search.solr.connection.timeout.default:SOLR_TIMEOUT)%'
    atoolo.search.indexer.timeLimit: 7200
    atoolo.search.indexer.memoryLimit: '512M'

services:
    atoolo.resource.resourceBaseLocator:
        class: Atoolo\Resource\Loader\ServerVarResourceBaseLocator
        arguments:
            - 'RESOURCE_ROOT'
            - 'objects'
    atoolo.resource.resourceLoader:
        class: Atoolo\Resource\Loader\SiteKitLoader
        arguments:
            - '@atoolo.resource.resourceBaseLocator'
    atoolo.resource.navigationHierarchyLoader:
        class: Atoolo\Resource\Loader\SiteKitNavigationHierarchyLoader
        arguments:
            - '@atoolo.resource.resourceLoader'
    atoolo.resource.categoryHierarchyLoader:
        class: Atoolo\Resource\Loader\SiteKitResourceHierarchyLoader
        arguments:
            - '@atoolo.resource.resourceLoader'
            - 'category'
    atoolo.search.solariumClientFactory:
        class: Atoolo\Search\Service\SolrParameterClientFactory
        arguments:
            - '%atoolo.search.solr.connection.scheme%'
            - '%atoolo.search.solr.connection.host%'
            - '%atoolo.search.solr.connection.port%'
            - '%atoolo.search.solr.connection.path%'
            - '%atoolo.search.solr.connection.proxy%'
            - '%atoolo.search.solr.connection.timeout%'

    atoolo.search.indexer.solrIndexService:
        class: Atoolo\Search\Service\Search\SolrIndexService
        arguments:
            - '@atoolo.search.solariumClientFactory'

    ###
    # Query Modifiers
    ###
    atoolo.search.solrBoostStrategy:
        class: Atoolo\Search\Service\Search\SiteKit\DefaultBoostModifier
        tags:
            - { name: 'atoolo.search.queryModifier', priority: 10 }

    ###
    # Resource Factories
    ###
    Atoolo\Search\Service\Search\InternalResourceFactory:
        arguments:
            - '@atoolo.resource.resourceLoader'
        tags:
            - { name: 'atoolo.search.resourceFactory', priority: 10 }
    Atoolo\Search\Service\Search\InternalMediaResourceFactory:
        arguments:
            - '@atoolo.resource.resourceLoader'
        tags:
            - { name: 'atoolo.search.resourceFactory', priority: 11 }
    Atoolo\Search\Service\Search\ExternalResourceFactory:
        tags:
            - { name: 'atoolo.search.resourceFactory', priority: 11 }

    atoolo.search.resultToResourceResolver:
        class: Atoolo\Search\Service\Search\SolrResultToResourceResolver
        arguments:
            - !tagged_iterator atoolo.search.resourceFactory
            - '@logger'

    Atoolo\GraphQL\Search\Query\Ping:
        public: true

    atoolo.search.selectSearcher:
        class: Atoolo\Search\Service\Search\SolrSelect
        arguments:
            - '@atoolo.search.solariumClientFactory'
            - !tagged_iterator atoolo.search.queryModifier
            - '@atoolo.search.resultToResourceResolver'

    atoolo.search.suggestSearcher:
        class: Atoolo\Search\Service\Search\SolrSuggest
        arguments:
            - '@atoolo.search.solariumClientFactory'

    atoolo.search.indexer.contentCollector.sitekit:
      class: Atoolo\Search\Service\Indexer\ContentCollector
      arguments:
        - !tagged_iterator atoolo.search.indexer.sitekit.contentMatcher

    Atoolo\Search\Service\Indexer\SiteKit\HeadlineMatcher:
      tags:
        - { name: 'atoolo.search.indexer.sitekit.contentMatcher', priority: 10 }

    Atoolo\Search\Service\Indexer\SiteKit\RichtTextMatcher:
      tags:
        - { name: 'atoolo.search.indexer.sitekit.contentMatcher', priority: 20 }

    Atoolo\Search\Service\Indexer\SiteKit\QuoteSectionMatcher:
      tags:
        - { name: 'atoolo.search.indexer.sitekit.contentMatcher', priority: 20 }

    Atoolo\Search\Service\Indexer\SiteKit\DefaultSchema2xDocumentEnricher:
        arguments:
            - '@atoolo.resource.navigationHierarchyLoader'
            - '@atoolo.search.indexer.contentCollector.sitekit'
        tags:
            - { name: 'atoolo.search.indexer.documentEnricher.schema2x', priority: 100 }

    atoolo.search.indexer.translationSplitter:
      class: Atoolo\Search\Service\Indexer\SiteKit\SubDirTranslationSplitter

    atoolo.search.indexer.aborter:
        class: Atoolo\Search\Service\Indexer\IndexingAborter
        arguments:
            - '%kernel.project_dir%/var/cache/'

    atoolo.search.indexer.locationFinder:
      class: Atoolo\Search\Service\Indexer\LocationFinder
      arguments:
          - '@atoolo.resource.resourceBaseLocator'

    atoolo.search.indexer.statusStore:
      class: Atoolo\Search\Service\Indexer\IndexerStatusStore
      arguments:
        - '%kernel.cache_dir%'

    atoolo.search.indexer.internalResourceIndexerFactory:
      class: Atoolo\Search\Service\Indexer\InternalResourceIndexerFactory
      arguments:
        - !tagged_iterator atoolo.search.indexer.documentEnricher.schema2x
        - '@atoolo.search.indexer.locationFinder'
        - '@atoolo.resource.resourceLoader'
        - '@atoolo.search.indexer.translationSplitter'
        - '@atoolo.search.indexer.solrIndexService'
        - '@atoolo.search.indexer.aborter'
        - 'internal'

    atoolo.search.indexer:
        class: Atoolo\Search\Service\Indexer\BackgroundIndexer
        arguments:
            - '@atoolo.search.indexer.internalResourceIndexerFactory'
            - '@atoolo.search.indexer.statusStore'
            - '@logger'

    Atoolo\GraphQL\Search\Query\Select:
        public: true
        arguments:
            - '@atoolo.search.selectSearcher'

    Atoolo\GraphQL\Search\Query\Suggest:
        public: true
        arguments:
            - '@atoolo.search.suggestSearcher'

    Atoolo\GraphQL\Service\PhpLimitIncreaser:
        arguments:
            - '%atoolo.search.indexer.timeLimit%'
            - '%atoolo.search.indexer.memoryLimit%'

    Atoolo\GraphQL\Search\Query\Indexer:
        public: true
        arguments:
            - '@atoolo.search.indexer'
            - '@Atoolo\GraphQL\Service\PhpLimitIncreaser'

    Atoolo\GraphQL\Search\Mutation\Indexer:
        public: true
        arguments:
            - '@atoolo.search.indexer'

    atoolo_graphql_search.resolver.urlRewriter:
      class: Atoolo\GraphQL\Search\Resolver\DoNothingUrlRewriter

    Atoolo\GraphQL\Search\Resolver\ClassNameTypeResolver:
        tags:
            - { name: overblog_graphql.query, alias: 'typeByClassName', method: 'resolveType' }

    Atoolo\GraphQL\Search\Resolver\ResolverMapRegistry:
        arguments:
            - !tagged_iterator atoolo_graphql_search.resolver
        tags:
            - { name: overblog_graphql.resolver_map, schema: default }

    Atoolo\GraphQL\Search\Resolver\ResourceResolver:
        arguments:
            - '@Atoolo\GraphQL\Search\Resolver\DelegatingTeaserFactory'
        tags:
            - { name: 'atoolo_graphql_search.resolver', priority: 10 }

    Atoolo\GraphQL\Search\Resolver\HierarchyResolver:
        arguments:
            - '@atoolo.resource.navigationHierarchyLoader'
            - '@atoolo.resource.categoryHierarchyLoader'
        tags:
            - { name: 'atoolo_graphql_search.resolver', priority: 10 }

    Atoolo\GraphQL\Search\Resolver\ArticleTeaserResolver:
        arguments:
          - '@atoolo_graphql_search.resolver.urlRewriter'
          - '@logger'
        tags:
            - { name: 'atoolo_graphql_search.resolver', priority: 10 }

    Atoolo\GraphQL\Search\Resolver\ArticleTeaserFactory:
      arguments:
        - '@atoolo_graphql_search.resolver.urlRewriter'

    atoolo_graphql_search.resolver.mediaTeaserFactory:
      class : 'Atoolo\GraphQL\Search\Resolver\MediaTeaserFactory'
      arguments:
        - '@atoolo_graphql_search.resolver.urlRewriter'
      tags:
        - { name: 'atoolo_graphql_search.objectType', objectType: 'media' }

    atoolo_graphql_search.resolver.embeddedMediaTeaserFactory:
      class : 'Atoolo\GraphQL\Search\Resolver\MediaTeaserFactory'
      arguments:
        - '@atoolo_graphql_search.resolver.urlRewriter'
      tags:
        - { name: 'atoolo_graphql_search.objectType', objectType: 'embedded-media' }

    Atoolo\GraphQL\Search\Resolver\DelegatingTeaserFactory:
      arguments:
        - !tagged_iterator { tag: 'atoolo_graphql_search.teaserFactory', index_by: 'objectType' }
        - '@Atoolo\GraphQL\Search\Resolver\ArticleTeaserFactory' # fallback factory

